image-upload-server/uploads/*.jpg
image-upload-server/application_default_credentials.json
image-upload-server/adcfile/application_default_credentials.json
image-upload-server/__pycache__/server.cpython-311.pyc
image-upload-server/__pycache__/preprocessing.cpython-310.pyc
image-upload-server/*.jpg
__pycache__/get_main_to_base.cpython-310.pyc
__pycache__/calculate_cp.cpython-310.pyc
