<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Hundo Checker</title>
</head>
<body>
    <h1>Upload a screenshot to check for Hundo</h1>
    <p>This page is served by Flask.</p>
    <p>Allowed file: 'png', 'jpg', 'jpeg', 'webp'</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Perform OCR</button>
    </form>
    
</body>
</html>